.profile-contact-table {
    display: table;
    width: 100%;
    border-top: 2px solid #999;
    border-right: 2px solid #999;
}

.profile-contact-table-row {
    display: table-row;
}

.profile-contact-table-row:nth-child(even) {
    background-color: #eee;
}

.profile-contact-table-column {
    display: table-cell;
    border-bottom: 2px solid #999;
    border-left: 2px solid #999;
    border-collapse: collapse;
    padding: 6px 8px;
    font-size: 14px;
}

.profile-contact-table-row.header-row .profile-contact-table-column {
    background-color: #297BB3;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
}